/* Teblet Layout */


@media only screen and (min-width:200px) and (max-width:991px){

.social_area {max-width: 449px;}
.inner_nav {background: none;min-height: auto; padding: 0;}
.inner_nav::after {display: none;}
.mean-container .mean_nav{margin-top: 0; width: 70%;}
.inner_top {padding: 20px 0;}
.social_area {padding-top: 8px;}
#slider_area {margin-top: 0;}
.inner_banner h1 {font-size: 55px;}
#main_work_area {padding: 30px 0;}
.child_work {overflow: hidden;}
.child_service .service_text {width: 70%;}
.child_service p {line-height: 1.3em;}
.child_work p {font-size: 12px;}
.mean-container .mean-nav ul li a.mean-expand{display: none;}
}



/* mobile Layout */


@media only screen and (min-width:200px) and (max-width:480px){
.minimenu { width: 100%; margin-bottom: 10px;}
.minimenu ul , .social_area ul{ text-align: center;}
.search_area , .logo_area{float: none; width: 250px; margin: 0 auto; text-align: center;}
.social_area ul li {display: inline-block; margin: 0 5px;}
#banner_area {width: 96%; clear: both; margin: 0 auto; max-width: 960px; margin-bottom: 20px;}
.inner_banner {display: table-row; overflow: hidden;}
.inner_banner h1 {font-size: 25px;}
.inner_banner img {margin-left: 0px; max-width: none; width: 100%;}
.inner_banner .banner_text {width: 100%; margin-left: 0;line-height: 1.3em;}
.child_work {width: 98%;}
#main_work_area, .inner_footer {padding: 20px 0;}
.child_service .service_text {width: 75%;}
.child_footer {width: 96%;}
#top_copyright_area {margin-top: 0; padding: 0px;}
.left_copyright {width: 100%; margin-bottom: 0px;}
.right_copyright p {text-align: left; width: 100%; float: left;}
.right_copyright {width: 100%; margin-bottom: 10px;}
.mean-container .mean_nav{margin-top: 0; width: 50%;}
.mean-container .mean-nav ul li a.mean-expand{display: none;}



}